@use "adaptive";

@mixin h1 {
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;

  @include adaptive.adaptive-md {
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
  }

  @include adaptive.adaptive-sm {
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
  }

  @include adaptive.adaptive-xs {
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
  }
}

@mixin b1 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;

  @include adaptive.adaptive-md {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }

  @include adaptive.adaptive-sm {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }

  @include adaptive.adaptive-xs {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }
}
